body {
    background-image: url("../images/Background.png");
}


.navbar {
    
    margin: auto;
    padding: 1em;
    font-size: 30px;
    border-style: inset;
    border-width: 7px;
    border-color: coral;
   
    
    
}


.title {
   text-align: center;
    margin: 1em;
    padding: 1em;
   
    

}

.two {
    background-color: green;
    margin: 1em;
    padding: 1em;
   
    text-align: center;
    
}

.three {
    background-color: darkgoldenrod;
    
    margin: 1em;
    padding: 1em;
    
    
}

.random {
    float: left;

}

.points {
    float: left;
    padding: 1em;
    margin: 1em;
    background-color: aquamarine;
    
}

.four {
    clear: both;
    background-color: cyan;
    padding: 1em;
    margin: 1em;
    
}

img {
    height: 90px;
    width: 90px;
}

.hero {
    float: left;
}


.bottom {
    border-style: inset;
    border-width: 7px;
    border-color: coral;
    float: left;
   
    background-color: firebrick;
    font-size: 50px;
}



.random {
    background-color: firebrick;
    float: right;
    margin: 1em;
    padding: 1em;
    max-width: 30%;
    font-size: 25px;

   

}


.wins {
    clear: both;
    border-style: inset;
    border-width: 7px;
    border-color: coral;
    float: left;
}

.loss {
    clear: both;
    border-style: inset;
    border-width: 7px;
    border-color: coral;
    float: left;
}